:root {
    --primary-color: #B61C67;
}
.btn-primary:hover {
    color: #B61C67;
    background-color: #7cc;
    border-color: #5bc2c2
}

.btn-primary {
    color: white;
    background-color: #B61C67;
    border-color: #8ad3d3
}

body {
    background: #E1F4FE;
    font-family: Akkurat, sans-serif;
}
.hero {
    text-align: center;
}

h1 {
    
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
h3 {
    font-style: italic;
    opacity: 0.7;
}
h4 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
.container {
    background-color: white;
    border-radius: 7px;
    margin: 0 auto;
 
}
img {
    max-width: 100% ;

   
}