:root {
    --primary-color: #B61C67;
}
.btn-primary:hover {
    color: #B61C67;
    background-color: #7cc;
    border-color: #5bc2c2
}

.btn-primary {
    color: white;
    background-color: #B61C67;
    border-color: #8ad3d3
}

body {
    background: #E1F4FE;
    font-family: Akkurat, sans-serif;
}
.hero {
    text-align: center;
    margin: 20px 50px;
}

h1 {
    
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
h3 {
    font-style: italic;
    opacity: 0.7;
}
h4 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
p {
    line-height: 1.8;
}
.container-home {
    background-color: white;
    border-radius: 7px;
    margin: 30px  50px;
    padding: 30px 30px;
    line-height: 1.5;
 
}
.app-container {

    background-color: white;
    border-radius: 7px;
    margin: 30px 50px;
    padding: 30px 30px;
 
}
.custom-img {
    max-height: 500px;
    object-fit: cover;
}

footer {
    text-align: center;
    font-size: 20px;
    opacity: 0.7;
}
.project-description {
    padding: 10px 30px;
}
@media (max-width: 960px) {
    .project-description {
        padding: 0;
        text-align: center;
    }
    h1 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }
    
}